 .score {
    color: white;
    position: fixed;
    right: 5px;
    top: 15px;
    z-index: 3;
} 

.body {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    margin-left: 250px;
    min-height: 80%;
    width: 60%;
}

.guessResponse {
    color: white;
    z-index: 3;
    position: fixed;
    left: 850px;
    top: 15px;
}