.wrapper {
    padding-top: 50px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
  }

.container-fluid {
    height: 100%;
    overflow: auto;
}

.navbar {
    position: fixed;
    margin: 0;
    top: 0;
    width: 100%;
    height: 70px;
    z-index: 2;
}

.jumbotron {
    background-image: url("../Wrapper/img/wallpaper.jpg");
    opacity: 0.5;
    min-height: 400px;
    padding: 180px 20px;
    padding-bottom: 140px;
    text-align: center;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.container {
    color: black;
    text-align: center;
    position: absolute;
    top: 150px;
    left: 150px;
}

.display-4 {
    font-size: 45px;
    font-weight: bold;
    margin: 0;
}

.lead {
    font-weight: bold;
}

.card-container {
    overflow: auto;
}

.guessResponse {
    color: white;
    z-index: 3;
    position: absolute;
    left: 850px;
}

.score {
    color: white;
    position: absolute;
    right: 40px;
}


